/* MAIN SECTION (Note this has much in common with middle-studentlife.css) */
div#main-container {
    width: 100%;
    background-image: url('../images/vintage-concrete.png');
}
div#page-banner-image {
/*    display: none;*/
    width: 988px;
    max-width: 100%;
    max-height:100%;
    min-width: 988px;
    margin: 0 auto;
    height: 270px;
    max-height: inherit;
    background-image: url('../images/athletics-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* for RWD (Responsive Web Design) */
@media only screen and (max-width: 988px) {
    main div#page-banner-image {
        height: 0;
        max-height: 517px;
        padding-bottom: 52.33%; /* 517 / 988 = 52.33% */
                                /* This is a bit of a trick to ensure that
                                   the #main-image div height remains proportional
                                   to the div's width */
        /* background-image: none;
        background-color: fuchsia; */
    }
}
main {
    width: 988px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row; /* aside and section are side-by-side */
}
main aside#left-sidebar {
    width: 256px;
    height: auto;
    flex-grow: 1;
    background-color: #535351;
}
main aside#left-sidebar nav#left-nav {
    margin-bottom: 80px;
}
main aside#left-sidebar nav#left-nav ul {
    font-size: 0.9em;
    margin-left: 10px;
}
main aside#left-sidebar nav#left-nav ul li {
    padding: 10px 0 10px 10px;
    display: block;
    border-bottom: 0.5px solid rgba(255,255,255,0.5);
}
main aside#left-sidebar nav#left-quicklinks ul {
    font-size: 1.2em;
    margin-left: 10px;
}
main aside#left-sidebar nav#left-quicklinks ul li {
    padding: 10px 0 10px 10px;
    display: block;
    border-top: 1.5px solid #fff;
}
main aside#left-sidebar nav#left-quicklinks ul li:last-child {
    border-bottom: 1.5px solid #fff;
}
main section#right-section {
    width: calc(100% - 256px);
    height: auto;
    flex-grow: 1;
    background-color: rgb(242, 240, 229);
    color: #000;
    position: relative;
}
main section#right-section div#breadcrumbs  {
    width: 100%;
    padding-top: 10px;
    text-align: right;
}
main section#right-section div#breadcrumbs p {
    margin-right: 15px;
    color: #535251;
    font-size: 0.9em;
}
main section#right-section div#breadcrumbs a {
    text-decoration: underline;
    color: #535251;
}
main section#right-section div#breadcrumbs a:hover, main section#right-section div#breadcrumbs a:focus {
    text-decoration: none;
}
main section#right-section div#breadcrumbs span {
    font-weight: bold;
}
main section#right-section div#page-content {
    margin: 0 25px 100px;

}
.accordion {
  background-color: #061844;
  color: #ffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #8e001c;
}
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.slideshow-container {

}
.panel ul {
    column-count: 3;
}
main section#right-section div#page-content h1 {
    font-weight: normal;
    font-family: 'Economica', sans-serif;
    margin: 10px auto;
    color: #9c6409;
    font-size: 2.3em;
}
main section#right-section div#page-content h2 {
    font-weight: normal;
    color: cadetblue;
    margin: 10px auto;
    font-size: 1.3em;
    color: #009bd7;
}
main section#right-section div#page-content p {
    font-size: 0.9em;
    margin: 10px auto;
    padding-bottom: 15px;
}
main section#right-section div#page-content a {
    color: #9c6409;
    text-decoration: underline;
}
main section#right-section div#page-content a:hover, main section#right-section div#page-content a:focus {
    color: #9c182f;
    text-decoration: none;
}
/* for RWD (Responsive Web Design) */
@media only screen and (max-width: 580px) {
    main {
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column-reverse; /* ensures section is stacked ABOVE aside */
    }
    main aside#left-sidebar {
        width: 100%;
        height: auto;
        flex-grow: 1;
        background-color: #535351;
    }
    main aside#left-sidebar nav#left-nav {
        margin-bottom: 20px;
    }
    main section#right-section {
        width: 100%;
        height: auto;
        flex-grow: 1;
        background-color: rgb(242, 240, 229);
        color: #000;
    }
}

/* styles for right-floated-div */
#optional-right-floated-image {
    float: right;
    width: 210px;
    height: 210px;
    margin-left: 20px;
    background-image:url('../images/sand-shark-logo.png');
    background-size: contain;
}
#optional-right-floated-image-2 {
    float: right;
    width: 210px;
    height: 210px;
    margin-left: 20px;
    background-image:url('../images/basketball.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Styles for table on Athletics & Recreation page */
main section#right-section div#page-content table.athletics-calendar {
    font-family: Verdana, Arial, sans-serif;
    width: 100%;
}
main section#right-section div#page-content table.athletics-calendar tr.table-month td {
    font-size: 1.4em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 3px;
    padding-top: 10px;
    color: #222;
}
main section#right-section div#page-content table.athletics-calendar tr {
    text-align: left;
    font-size: 0.75em;
    vertical-align: top;
}
main section#right-section div#page-content table.athletics-calendar tr.table-column-headers {
    color: #9c182f;
    background-color: #eddfca;
}
main section#right-section div#page-content table.athletics-calendar tr.table-column-data {
    background-color: #fff;
}
main section#right-section div#page-content table.athletics-calendar th, table.athletics-calendar td {
    padding: 5px;
    border-top: 1px solid #AAA;
}
main section#right-section div#page-content table.athletics-calendar td.table-date {
    font-weight: bold;
}
main section#right-section div#page-content table.athletics-calendar td a {
    color: #000;
    text-decoration: none;
}
main section#right-section div#page-content table.athletics-calendar td a:hover,
main section#right-section div#page-content table.athletics-calendar td a:focus {
    text-decoration: underline;
}


